.header {
  height: 3em;
  background-color: #006400;
}
.menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-left: 3em;
  text-transform: uppercase;
  cursor: pointer;

  &__item {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;

    .menu__item-text {
      line-height: 3em;
    }

    &:hover {
      background-color: #9acd32;
    }
  }

  &__item_active {
    line-height: 3em;
    color: yellow;

    &:hover {
      .submenu {
        visibility: initial;
        color: black;
      }
    }
  }

  .submenu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #ff7f50;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    line-height: 3em;
    cursor: pointer;
    min-width: 120px;
    visibility: hidden;
    z-index: 1;

    &__item {
      color: #fff;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 0;
      padding-bottom: 0;

      &:hover {
        color: black;
      }
    }
  }
}
